<style>
  :root {
    --primary-color: #D1D1D1; /* Gris claro */
    --secondary-color: #CCCCCC;
    --accent-color: #FFFFFF;
    --background-color: #000000;
    --optional-color: #666666;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Los elementos hijos se colocarán uno debajo del otro */
  }
  .logo {
    width: 200px;
    height: auto;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .nav ul {
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
  }
  .nav ul li {
    margin-left: 20px;
  }
  .nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
  }
  .nav ul li a:hover {
    color: var(--accent-color);
  }
  #banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner img {
    width: auto;
    height: 100%;
  }
  .content {
    margin-top: 20px;
  }
  .content h1 {
    color: var(--primary-color);
    font-size: 32px;
  }
  .content p {
    color: var(--primary-color);
    font-size: 18px;
    line-height: 1.5;
  }
  .horizontal-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .horizontal-section img {
    max-width: 40%;
    height: auto;
  }
  .horizontal-section p {
    line-height: 2.5; /* Ajustar este valor según tus necesidades */
    flex: 1; /* Para que el párrafo ocupe el espacio restante */
    color: var(--primary-color);
  }
  #bannerPS,
  #bannerPP,
  #bannerAC,
  #bannerDP,
  #bannerPM {
    flex: 1; /* Para que el banner ocupe el espacio restante */
    display: flex;
    justify-content: space-between;
    max-width: 40%;
  }
  /* Estilos para las imágenes dentro del banner */
  .banner-image {
    max-height: 200px; /* Ajustar la altura máxima deseada */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon i {
    margin-bottom: 5px; /* Ajusta este valor para cambiar la separación entre el ícono y el texto */
    color: var(--primary-color);
  }
  /* Estilos para la línea separadora con bordes redondeados */
  .divider {
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px; /* Ajusta este valor para controlar el radio de los bordes redondeados */
  }
  h1 {
    color: var(--primary-color);
  }
  /* Estilos para el pie de página */
  footer {
    text-align: center; /* Centra el contenido del pie de página */
    color: var(--primary-color); /* Utiliza el mismo color primario definido en :root */
    margin-top: 0px; /* Espacio entre el contenido y el pie de página */
    /* Añade la propiedad justify-content para centrar los elementos horizontalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer h1 {
    color: var(--primary-color); /* Utiliza el mismo color primario definido en :root */
  }

  footer p {
    margin: 5px 0; /* Espacio entre cada párrafo */
    display: block; /* Crea un diseño en bloque */
  }

  footer .icon {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
    font-size: 18px; /* Tamaño del ícono */
  }

  footer a {
    color: var(--primary-color); /* Establece el color de enlace igual al color primario */
    text-decoration: none; /* Quita el subrayado del enlace */
  }

  footer a:hover {
    color: var(--accent-color); /* Cambia el color al pasar el cursor sobre el enlace */
  }

  /* Estilos para la alineación de ícono y número de teléfono */
  footer .in_line {
    display: flex; /* Crea un diseño en línea (flexbox) */
    align-items: center; /* Alinea los elementos verticalmente al centro */
  }
</style>